keras
tensorflow
# use tensorflow-gpu instead of tensorflow if you have a GPU in your computer
# in this case you HAVE TO also install:
# CUDA 9.0: from https://developer.nvidia.com/cuda-90-download-archive
# CUDNN: from https://developer.nvidia.com/cudnn - Login required!
scikit-learn
pandas
numpy
librosa
matplotlib
seaborn
progressbar2